@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --foreground-rgb: 255, 255, 255; /* Light blue for better contrast */
  --background-start-rgb: 48, 48, 48; /* Dark gray background start color */
  --background-end-rgb: 64, 64, 64; /* Dark gray background end color */
  --primary-color: 100, 255, 255; /* Light blue for primary color */
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 0, 0, 0; /* Dark gray for better contrast on light background */
    --background-start-rgb: 240, 240, 240; /* Light gray background start color */
    --background-end-rgb: 255, 255, 255; /* Light gray background end color */
    --primary-color: 100, 255, 255; /* Light blue for primary color */
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .bg-primary {
    background-color: rgb(var(--primary-color));
  }
}

.nav-link {
  border-radius: 0%;
  padding: 0.5rem; /* Add padding around the link */
  transition: background-color 0.3s ease, border 0.3s ease, transform 0.3s ease;
}

.nav-link:hover {
  background-color: #51e2f5; /* Change to your desired hover background color */
  border: 1px solid #51e2f5; /* Add border on hover */
  border-radius: 20px; /* Optional: Add rounded corners */
  transform: scale(1.05); /* Slightly enlarge the element on hover */
}

.app{
  text-align: center;
}

img{
  max-width: 150px;
  margin: 2px;
}

.bg{
  background-image: url();
  width: 200px;
  height: 200px;
  background-size: cover;
}